body {
margin:0;
font-family: Arial, sans-serif;
background:#fff5f7;
color:#444;
}

header {
background:linear-gradient(135deg,#fbc2eb,#a6c1ee);
padding:50px;
text-align:center;
color:white;
}

section {
max-width:800px;
margin:auto;
padding:40px 20px;
}

.bg {
background:#fde2e4;
border-radius:20px;
}

h2 {
color:#b94b6f;
}

footer {
text-align:center;
padding:20px;
background:#f8cdda;
}
